:root {
  --color-bg: #121212;
  --color-top-bg: #12121254;
  --color-text: #a47e1b;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "playfair display", serif;
  color: var(--color-text);
}

/* End CSS Reset */

/* container */

.container {
  min-height: 100vh;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1.2rem 1.2rem;
  background: linear-gradient(
    180deg,
    #0b0b0b 0%,
    #0b0b0b 25%,
    #161004 45%,
    #161004 50%,
    #161004 55%,
    #0b0b0b 75%,
    #0b0b0b 100%
  );
}
.gold {
  display: none;
}

.gold_bar {
  position: absolute;
  color: red;
  top: 3rem;
  right: 3rem;
}

.gold_bar-img {
  width: 3rem;
  height: 3rem;
}

@keyframes sparkel {
  0% {
    box-shadow: 0 0 5rem var(--color-text);
  }
  25% {
    box-shadow: 0 0 10rem var(--color-text);
  }
  50% {
    box-shadow: 0 0 20rem var(--color-text);
  }
  75% {
    box-shadow: 0 0 30rem var(--color-text);
  }
  100% {
    box-shadow: 0 0 100rem var(--color-text);
  }
}

.container:has(.gold:checked) .card {
  animation: sparkel 0.9s infinite alternate;
}

/* End container */

/* Card */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  border: 1px solid rgba(164, 126, 27, 0.45);
  min-width: 50rem;
  min-height: 35rem;
  box-shadow: 0 0 25rem var(--color-text);
  background-color: white;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    #584513 0%,
    #1b1505 25%,
    #1b1505 45%,
    #1b1505 50%,
    #1b1505 55%,
    #2a1f08 75%,
    #2a1f08 100%
  );
}
/* End card */

/* Top */
.top {
  height: 10rem;
  background-color: white;
  background-image: linear-gradient(
    90deg,
    #584513 0%,
    #2a1f08 25%,
    #2a1f08 45%,
    #2a1f08 50%,
    #2a1f08 55%,
    #2a1f08 75%,
    #584513 100%
  );
}

/* End top */

/* middle */

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  margin-top: -6rem;
  gap: 1rem 0;
}

.img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 0 100rem #2a1f08;
  border: 0.1rem solid var(--color-text);
}

.name {
  font-size: 2.2rem;
  letter-spacing: 0.06em;
}

.job_title {
  font-size: 1.7rem;
}

/* End middle */

/* bottom */
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: 2rem;
}

.socials {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.6;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.icon:hover {
  box-shadow: 0 0 1rem 0.5rem #584513;
  opacity: 1;
  transform: translateY(-2px);
}
/* End bottom */

/* responsive */

@media (max-width: 600px) {
  .card {
    min-width: 30rem;
  }
}
